[submodule "src/schematool"]
	path = src/schematool
	url = https://github.com/westurner/schematool
[submodule "src/transform_md"]
	path = src/transform_md
	url = https://github.com/westurner/transform_md

[submodule "src/wrd-sphinx-theme"]
	path = src/wrd-sphinx-theme
	url = https://github.com/westurner/wrd_sphinx_theme
	branch = develop
[submodule "src/sphinxcontrib-mcp"]
	path = src/sphinxcontrib-mcp
	url = https://github.com/westurner/sphinxcontrib-mcp
[submodule "src/sphinxcontrib-webmcp"]
	path = src/sphinxcontrib-webmcp
	url = https://github.com/westurner/sphinxcontrib-webmcp
